extends layout

block content
  h1= title
  form.aui
    div.field-group
      label Choose a Game
      select#gameSelector.select
        option ...Select one
        each game in games
          option(value=game.id)= game.name
    div#gameConfiguration
