doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="//aui-cdn.atlassian.com/aui-adg/6.0.9/js/aui.min.js")
    link(rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.9/css/aui.min.css" media="all")

    link(rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.9/css/aui-experimental.min.css" media="all")
    script(src="//aui-cdn.atlassian.com/aui-adg/6.0.9/js/aui-experimental.min.js")
    script(src="//aui-cdn.atlassian.com/aui-adg/6.0.9/js/aui-datepicker.min.js")
    script(src="//aui-cdn.atlassian.com/aui-adg/6.0.9/js/aui-soy.min.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src='/javascripts/ShootMe.js')
  body
    block content
